<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">LionHelp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_path %>">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Catagory</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">toHelp</a></li>
        <% unless logged_in? %>
          <li><a href="<%= new_user_path %>">Register</a></li>
          <li><a href="<%= new_session_path %>">Login</a></li>
        <% else %>
          <li><a href="#">Hi, <%= current_user.username %></a></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end -%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PersonalProfile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">MyOrder</a></li>
            <li><a href="#">MyPosition</a></li>
            <li><a href="#">Lovest</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">PersonalInfo</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
